//绝对定位居中
@mixin pa-center($w,$h) {
  position: absolute;
  width: $w;
  height: $h;
  left: 50%;
  top: 50%;
  transition: translate(-50%, -50%)
}

//flex居中
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

//单行文字左右对齐
@mixin justify{
  text-align: justify;
  &:after{
    content:'';
    width: 100%;
    display: inline-block;
    overflow: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
  }
}

//字体溢出
@mixin text-ellipsis($line:1) {
  @if $line==1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

//右边三角框
@mixin more {
  font-family: $font-family;
  font-size: .2rem;
  &:after {
    content: '\e608';
  }
}
//右边x
@mixin close {
  font-family: $font-family;
  font-size: .2rem;
  &:after {
    content: '\e629';
  }
}

//最后一条线隐藏
@mixin last-child-none($d:bottom) {
  &:last-child {
    border-#{$d}-width: 0;
  }
  &:last-child:after {
    border-#{$d}-width: 0;
  }
}

//右下角选中效果
@mixin selectIco($c:nth($color,4),$right:0,$bottom:0){
  position: relative;
  font-family: $font-family;
  &:after{
    content:'\e6d5';
    position: absolute;
    color: $c;
    right: $right;
    bottom: $bottom;
  }
}

//1px线
@mixin setLine($c: #ddd,$d:all) {
  content: " ";
  position: absolute;
  color: $c;
  transform: scale(0.5);
  @if $d==all {
    left: 0;
    top: 0;
    height: 200%;
    width: 200%;
    border: 1px solid $c;
    transform-origin: left top;
  } @else if $d==top {
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    width: 200%;
    border-top: 1px solid $c;
    transform-origin: 0 0;
  } @else if $d==right {
    right: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 200%;
    border-right: 1px solid $c;
    transform-origin: 100% 0;
  } @else if $d==bottom {
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    width: 200%;
    border-bottom: 1px solid $c;
    transform-origin: 0 100%;
  } @else if $d == left {
    left: 0;
    top: 0;
    bottom: 0;
    width: 1px;
    height: 200%;
    border-left: 1px solid $c;
    transform-origin: 100% 0;
  }
}
